################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleWebForAzure/obj/Debug
/SampleWebForAzure/bin
